.main {
    position: relative;
    padding: 16px;
    display: flex;
    justify-content: center;
}

.element {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    position: relative;
    margin-left: 8px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.selected {
  color: red;
  border: 1px solid red;
  height: 50px;
  width: 50px;
  position: relative;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare-element {
  color: black;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin-left: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: green;
}

.finding-element {
  color: green;
  border: 1px solid green;
  height: 50px;
  width: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
